#genes_schema{
	position: relative;
    border:1px solid black;
    padding:0;
    margin-right:40px;
    margin-left:40px;
}

#gene_infos{
	height: 150px;
	margin:0;
	padding:0;
	background: yellow;
}

#gene_table{
	position: relative;
}

.grabbing{
    cursor: url("../images/closedhand.cur") , default !important;
}
.grabbable{
    cursor: url("../images/openhand.cur") , default !important;
}