#system_schema{
	position: relative;
	height: 250px;
	margin-right:40px;
    margin-left:40px;
    margin-bottom: 20px;
    padding:0;
    overflow: hidden;
    border:1px solid black;
}

#replicon_schema{
	position: relative;
    margin-right:40px;
    margin-left:40px;
    padding:0;
    overflow: hidden;
    border:1px solid black;
}

#gene_infos{
	height: 150px;
	margin:0;
	margin-right:40px;
    margin-left:40px;
	padding:0;
	background: yellow;
}

#genes_table{
	position: relative;
	margin-right:10px;
    margin-left:10px;
}

#genes_table table {
	margin: 0 auto; 
	border-collapse:collapse;
	border :1px solid #000;
	font-size: 0.75em;
}

#genes_table th{ border :1px solid #000;}

#genes_table td{ 
	border: 1px solid #999;
	padding: .3em;
	margin: 0;
   }
   
.grabbing{
    cursor: url("../images/closedhand.cur") , default !important;
}
.grabbable{
    cursor: url("../images/openhand.cur") , default !important;
}